@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}
@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}
/* ---------------------Main start--------------- */
body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  @apply h-full text-base sm:text-lg;
}
html,
.containerUz {
  @apply h-full;
}
.containerUz {
  @apply m-auto px-4 xl:max-w-[1280px];
}
.section {
  @apply w-full h-fit py-5 sm:py-7;
}
/* ---------------------Main end--------------- */

/* ---------------------Menu start--------------- */
.open {
  @apply w-full h-full pt-10
    fixed left-0 top-0
    flex items-start justify-between 
    backdrop-blur-md;
}
/* ---------------------Menu end--------------- */

/* ---------------------Services start--------------- */



/* ---------------------Services end--------------- */
