@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  height: 100%;
  font-size: 24px;
}

html, .containerUz {
  height: 100%;
}

.containerUz {
  @apply m-auto px-4
}

@media only screen and (min-width: 1260px) {
  .containerUz {
    max-width: 1260px;
  }
}

.section {
  @apply py-10 w-full h-fit 
}
.burger {
  @apply hidden
}
.cancel {
  @apply  hidden
}
.menuItems li {
  @apply transition-all hover:text-orange hover:scale-x-110
}
@media only screen and (max-width: 1024px) {
  .menu {
    @apply fixed flex items-start justify-between left-0 top-0 w-full h-full border border-red-600
    backdrop-blur-sm p-4 pt-10 
    transform -translate-x-full
  }
  .cancel {
    @apply flex items-center gap-x-8
  }
  .menuLine {
    @apply hidden
  }
  .menuItems {
    @apply flex-col gap-y-8 text-4xl  
  }
  .burger {
    @apply block
  }
  .open {
    @apply transform translate-x-0 
    transition-transform duration-300;
  }
}

@media only screen and (max-width: 640px) {
  .section {
    @apply py-5
  }
  .menu {
    @apply pt-4
  }
  .menuItems {
    @apply text-2xl gap-y-4
  }
}
