@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: #ffffff;
    --foreground: #171717;
  }

  @media (prefers-color-scheme: dark) {
    :root {
      --background: #0a0a0a;
      --foreground: #ededed;
    }
  }
}

/* ---------------------Main start--------------- */
body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  @apply h-full text-base sm:text-lg;
}
html,
.containerUz {
  @apply h-full;
}
.containerUz {
  @apply m-auto px-4 xl:max-w-[1280px];
}
.section {
  @apply w-full h-fit py-5 sm:py-7;
}
.title {
  @apply font-bold text-center text-2xl sm:text-3xl md:text-4xl lg:text-5xl pb-1 sm:pb-2 md:pb-3 lg:pb-4
}
/* ---------------------Main end--------------- */

/* ---------------------Menu start--------------- */
.open {
  @apply w-full h-full pt-10
    fixed left-0 top-0
    flex items-start justify-between 
    backdrop-blur-md;
}
/* ---------------------Menu end--------------- */

/* ---------------------Contact start--------------- */

/* ---------------------Contact end--------------- */
.contact__title {
  @apply text-lg font-semibold text-center p-2 md:text-xl lg:text-2xl
}

/* ---------------------Modal start--------------- */

.modal {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(28, 25, 23, 0.32);
  z-index: 11111111111;
  opacity: 0;
  visibility: hidden;
  &.show__modal {
    opacity: 1;
    visibility: visible;
  }
  &__wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding-block: 40px;
    border-radius: 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    max-width: 481px;
    width: 90%;
    overflow: auto;
  }
}
/* ---------------------Modal end--------------- */
